<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="../../../../favicon.ico">

    <title>
      {% for school in object_list %}
        {{ school.school_name }}
      {% endfor %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}">
    <link rel="stylesheet" href="{% static "custom/css/dashboard.css" %}">

  </head>

  <body>
    {% for school in object_list %}

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-3 sidebar">
          <br><br>
          <h2>DASHBOARD</h2>
          <br>
          <ul>
            <li>
              <a href="{% url 'create-report' %}">Create Report</a>
            </li>
            <li>
              <a href="{% url 'test-view' %}">Test view</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-9 maincontent">
          {% block content %}

          {% endblock %}
        </div>

      </div>

    </div>
    {% endfor %}
    <br>
    <hr>
    <footer class="container text-center">
      <p>&copy; {% now "Y"%} Blurpshell Software</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "bootstrap/dist/js/jquery-3.3.1.slim.min.js" %}" </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}" </script>
  </body>
</html>
