{% extends 'theme/base.html' %}

{% block content %}
<div class="mx-auto">

  <h1>Create a new Report</h1>
  <br>
  <form class="form-group" action="{% url 'create-report' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
    <input class="btn btn-secondary" type="submit" name="" value="CREATE">
  </form>

</div>

{% endblock %}
