{% extends 'theme/base.html' %}

{% block content %}
{% for school in object_list %}
<div class="row">
  <div class="col-4">
    <img class="img-fluid" src="{{ school.school_logo.url }}" alt="school logo">
  </div>
  <div class="col-8">
    <h1>{{ school.school_name }}</h1>
    <br>
    <h4>Todays date</h4>
    <br>
    <h4>notification</h4>
  </div>
</div>

<br>
<hr>

<div class="text-center">
  <h1>CHARTS</h1>
</div>

<br>
<hr>

<div class="text-center">
  <h1>EVENTS AND CALENDAR</h1>
</div>
{% endfor %}

{% endblock %}
